[Desktop Entry]
Name=Authentication Configuration
Comment=authconfig
Icon=redhat/shadowman-round-48.png
Exec=/usr/bin/authconfig-gtk
Type=Application
Terminal=false
